[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
django-extensions = "*"
django-cors-headers = "*"
dj-database-url = "*"
gunicorn = "*"
djoser = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.9"
